body, main, nav, header, ul, input, aside, button, table, thead, tbody, td, th, tr, div, span {
  margin: 0;
  padding: 0;
  border: none;
  font-family: Arial,sans-serif;
  font-size: 13px;
}

body {
  width: 100%;
  height: 100%;
}
